div.index-a, div.index-c {
    position: fixed;
    left: 2%;
}
div.index-a {
    bottom: 1%;
}
div.index-c {
    top: 1%;
}   
h2.index-b {
    z-index: -1;
}
h2.index-d {
    z-index: 1;
}
h2 {
    color: black;
}






