body {
    color:negro;
}
h6 {
    color: #26BBDC;
    font-size: 1.5em;
}
h6.special {
    color: #9FD700;
    font-size: 2em;
    font-family: segoe print, arial, sans-serif;
}
p {
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    margin: 1em 2em 1em 1em;
}
p.important {
    font-size: 1.8em;   
} 
.typewriter {
    font-family: "Courier New", Courier, monospace;
}
h1 {
    font-family:"Trebuchet", Helvetica, sans-serif;
} 
h2.specialfont {
    font-family:"Agency FB", Helvetica, sans-serif;
} 
/*font-size: 2em;*/
.typewriter {
    font-family: "Courier New", Courier, monospace;
}
p.Size1 {
    font-size: .75em;
}
p.Size2 {
    font-size: 1.5em;
}
p.Size3 {
    font-size: 2em;
}
.styleBold {
    font-weight: 900;
}
.styleNormal {
    font-weight: 400;
}
.styleLight {
    font-weight: 100;
}
.styleNormal2 {
    font-weight: normal;
}
.styleLighter {
    font-weight: lighter;
}
.enfatizado {
    font-style: italic;
}
.styleBolderHigh {
    font-weight: bolder;
}
.standout {
    color: #cc0000;
}
p.letra-negra {
    color: #1f201e;
    font-size: .6em;
}
p.espaciadoancho {
    letter-spacing: .3em;
}
p.espaciadoangosto {
    letter-spacing: -.08em;
}
p.espaciadowordancho {
    word-spacing: 1.5em;
}
p.espaciadowordangosto {
    word-spacing: -0.1em;
}
p.espaciadolineaancho {
    line-height: 3em;
}
p.espaciadolineaangosto {
    line-height: .8em;
}
h3.centro {
    text-align: center;
}
p.izquierda {
    text-align: left;
}
p.derecha {
    text-align: right;
}
p.justificado {
    text-align: justify;
}
p.indentado {
    text-indent: 2em;
}
blockquote {
    font-size: 1.4em;
    color: darkcyan;
    text-align: justify;
}
p.margenes {
    /*margen a los 4 lados: top, right, bottom, left*/
    margin: 6em 4em 20em 1em;
    text-align: justify;
}
p.margenTop {
    margin-top: 10em;
}
p.bordes {
    border: 3px solid darkcyan;
    padding: 0;
}
p.bordeTop {
    border-top: 2px dashed red;
}
p.espacioborde {
    border: 3px solid darkcyan;
    padding: 2em;
}
body.special {
    color: cyan;
    font-size: 2em;
}
.noheredado {
    color: darkolivegreen;
    font-size: 2em;
}
h1, h3, h5 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1, h5 {
    color: #333333
}
#specialorange {
    color: orange;
    text-align: center;
}
#fancy {
    color: olive;
}
h1#titulo-principal {
    color: darkslategrey;
    font-family: "Arial, Helvetica, sans-serif";
    font-size: 1.6em;
    margin-bottom: .2em;
}
h2#titulo-secundario {
    color: darkcyan;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.2em;
}
#estilo-parrafo {
    color: slategray;
    text-align: justify;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: .6em;
}
div#midpage {
    margin: 0 3em 0 3em;
    font-family: Arial, Helvetica, sans-serif;
}
div#main {
    font-size: 1.1em;
    margin: .1em .1em .1em .1em;
}
div.special {
    margin: .1em .5em .1em .5em;
}
div#centro {
    /*display: block;*/
    margin: auto;
    /*margin-right: auto;
    background-color: blue;*/
}
/*--------tables style--------*/
table { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: darkslategray;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 2em;
    width: 60%;
}
/*tr, th, td {
    border:1px solid black;
}*/
th.top-row {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
th, td {
    /*border:1px solid black;*/
    padding: 5px;
    /*width: 10%;*/
    text-align: center;
}
th {
    border-top: 2px solid darkcyan;
    border-bottom: 2px solid darkcyan;
}
table.borders-left-right {
    border-left: 5px solid orange;
    border-right: 5px solid orange;
}
.ancho-corto {
    width: 5%;
}
/*Ejercicio N. 48 - Tablas - Estilos de Fuente*/
/*th, td {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: 900;
    color: gray;
    letter-spacing: .1em;
}/*
/*td {
    vertical-align: bottom;
}*/
tr.even-row {
    background-color: lightgray;
}
form {
    width: 50%;
    margin: 0 auto 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}
input[type="text"],input[type="email"],
textarea {
    margin-bottom: .25em;
    padding: .25em;
    font-size: 1em;
}
legend {
    font-weight: 700;
}
input[type=image] {
    font-size: 1.25em;
    margin: 0 auto 0 auto;
    display: block;
}
input[type=submit] {
    font-size: 1.25em;
    margin: 0 auto 0 auto;
}

h1,h2.letter-small {
  font-size: .6em;
}
h1,h2.letter-medium {
    font-size: .9em;
}
.en-bloque {
  display: block;
}
.en-linea {
  display: inline;
}
h1#centrado1, p#centrado2 {
    text-align: center;
}
img.inset {
    display: block;
    margin-left: 1em;
    margin-bottom: .2em;
}
img.middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .3em;
}
img.middle-one-line {
    margin: 0 auto 0 auto;
}
img.floating-left {
    float: left;
}
img.floating-right {
    float: right;
    margin: .5em;
}
p.no-wrap {
    clear: both;
    font-size: .75em;
}
a {
  color: #b8860b;
  font-family: 'Courier New', Courier, monospace;
}
a:hover {
    font-weight: bold;
    text-decoration: underline;
}
a:active {
    font-size: 1.25em;
}
a:visited {
    color: yellowgreen;
}
a.special:hover {
    color:blue;
}
a.special:visited {
    color: red;
}
a.special:active {
    color: lime;
}
#openWindow {
   cursor: pointer;
}
.clic_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content{
width: .8em;
display: block;
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
padding-top: 20px;
background-color: #b8860b;
}
.list{
    color: #133B42;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .7em;
    margin-bottom: 2em;
}
ul{
    margin:0 1.5em 0 1.5em;
    list-style-position:outside;
    color: #133B42;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .7em;
}
ul.custom {
    list-style-type: square;
}
ul.images {
    list-style-image: url("../images/icon_bullet_ok_mini.png");
}
li{
    margin:.5em;
}
ol {
    margin:0 1.5em 0 1.5em;
    color: #133B42;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .7em;
    list-style-position:inside;
}
ol.second-level{
    list-style-type: upper-roman;
}
ol.letters{
    list-style-type: lower-alpha;
}
.font-yellow {
    color: #b8860b;
}




