@media only screen and (min-width:
320px) and (max-width: 600px) {
    img.gallery {
        display: block;
        margin-bottom: 0.2em;
    }
}
@media only screen and (min-width:
601px) {
    img.gallery { 
        display: inline;
    }
}
