p.spaced-out {
    position: relative;
    top: 50px;
}
table#adjusted {
    position: relative;
    bottom: 25%;
    left: 2%;
}
div#d1
{
    width: 31%;
    float: left;
}
div#d2
{
    width: 31%;
    float: left;
    margin: 0 0 0 3.5%;
}
div#d3
{
    width: 31%;
    float: right;
}
body {
    width: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    background-color: white;
    color: black;
    display: block;
    margin: 0 auto 0 auto;
}
/*--------tables style--------*/
table { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: darkslategray;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 2em;
    width: 60%;
}
th, td {
    padding: 5px;
    text-align: center;
}
th {
    border-top: 2px solid darkcyan;
    border-bottom: 2px solid darkcyan;
}
.ancho-corto {
    width: 5%;
}
tr.even-row {
    background-color: lightgray;
}