body {
    background-color: #252528;
    color: rgba(255, 255, 255, .4);
    font-family: 'Raleway', sans-serif;
    padding: 0 1em;
}
h1 {
    text-align: right;
    color: rgba(255, 255, 255, .7);
    font-size: 1.5em;
    margin-bottom: 1em;
}
nav {
    background: rgba(0,0,0,.8);
    /* box-sizing evita que cualquier elemento dentro
    de la caja expanda la caja. */
    box-sizing: border-box;
    position: absolute;
    left: -18em;
    padding-top: 3em;
    top: 0;
    transition: all .3s;
    z-index: 20;
    height: 100%;
}
article {
    padding: .5em 0;
    line-height: 1.5em;
}
footer {
    border-top: 1px solid rgba(255 ,255 ,255, .1);
    font-size: .8em;
    margin-top: 2em;
    padding-top: 2em;
    text-align: right;
}
.menu {
    list-style: none;
    line-height: 42px;
    margin: 2em auto;
    padding-left: 0;
    width: 18em;
}
.menu a {
    color: #ddd;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 100%;
    transition: all .5s;
}
.menu li {
    /* outline: 1px solid green; */
    /* border-left: 1px solid rgba(255,255,255,.2); */
    box-shadow: 3px 0 rgba(255,255,255,.2) inset;
    padding-left: 1.5em;
    margin-right: 10px;
    /* transition: all .5s; */
}
.menu li:hover {
    box-shadow: 17em 0 rgba(255,255,255,.2) inset;
}
li.items {
    color: whitesmoke;
}
.menu li a span {
    margin-left: 9px;
}
.menu a:hover {
    margin-left: 1em;
}

nav.mostrar {
    left: 0;
}
#mostrar-nav > label{
    cursor: pointer;
    position: absolute;
    top: 2em;
    left: 2em;
/*     width: 52px;
    height: 52px; */
    z-index: 30;
    font-size: 1.3em;
}
.fa-bars {
    color: white;
}



