div#header {
    width: 100%;
    background-color: #990000;
    position: absolute;
    left: 0;
    top: 0;
}
div#header h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 900;
    color: white;
    font-size: 2em;
    margin-left: 2%;
    padding: 0;
}
body {
    width: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    background-color: white;
    color: black;
    display: block;
    margin: 0 auto 0 auto;
}
p {
    font-size: 3em;
}