body {
    color:negro;
}
h1#titulo-principal {
    color: darkslategrey;
    font-family: "Arial, Helvetica, sans-serif";
    font-size: 1.6em;
    margin-bottom: .2em;
    text-align: center;
}
/*--------tables style--------*/
table { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: darkslategray;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 2em;
    width: 60%;
}
/* th.top-row {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
} */
th, td {
    padding: 5px;
    text-align: center;
}
th {
    border-top: 2px solid darkcyan;
    border-bottom: 2px solid darkcyan;
}
.ancho-corto {
    width: 5%;
}
/* tr.even-row {
    background-color: lightgray;
} */




