div#content {
    width: 68%;
    float: left;
}
div#sidebar {
    width: 29%;
    float: right;
}
div#d1
{
    width: 31%;
    float: left;
}
div#d2
{
    width: 31%;
    float: left;
    margin: 0 0 0 3.5%;
}
div#d3
{
    width: 31%;
    float: right;
}
body {
    width: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    background-color: white;
    color: black;
    display: block;
    margin: 0 auto 0 auto;
}