body {
    color:negro;
}
h1 {
    font-family:"Trebuchet", Helvetica, sans-serif;
    text-align: center;
    color: #333333
} 
form {
    width: 50%;
    margin: 0 auto 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}
input[type="text"],input[type="email"],
textarea {
    margin-bottom: .25em;
    padding: .25em;
    font-size: 1em;
}
legend {
    font-weight: 700;
}
input[type=image] {
    font-size: 1.25em;
    margin: 0 auto 0 auto;
    display: block;
}
input[type=submit] {
    font-size: 1.25em;
    margin: 0 auto 0 auto;
}


